pandas==2.2.3
pandas-datareader==0.10.0
matplotlib==3.9.2
xbbg==0.7.7
numpy==2.2.3
python-decouple==3.8
pytest==8.3.3
ipython
jupyter
jupyter-book
jupyterlab
notebook
colorama
doit==0.36.0
--extra-index-url=https://blpapi.bloomberg.com/repository/releases/python/simple/
blpapi==3.25.2.3